@font-face {
    font-family: "Roman";
    src: url("fonts/roman.ttf");
}

@font-face {
    font-family: "Sans";
    src: url("fonts/sans.ttf");
}

body {
    text-align: center;
    margin: auto;
}

p {
    font-family: 'Roman', sans-serif;
    font-size: 25px;
}

h1 {
    font-family: 'Sans', sans-serif;
}
