@font-face {
    font-family: mono;
    src: url(/fonts/terminal.ttf);
}

@font-face {
    font-family: clock;
    src: url(/fonts/digital-clock.ttf);
}

@font-face {
    font-family: pixel;
    src: url(/fonts/pixel.ttf);
}

@font-face {
    font-family: segment;
    src: url(/fonts/segment.ttf);
}

body {
    color: #fff;
    background: #000;
    font-family: pixel;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 15em;
}

.clock {
    display: inline-block;
    width: 100%;
}

.clock > p {
    font-family: clock;
    font-size: 50px;
    color: #0f0;
    background: #000;
    margin: 0;
}

.shh {
    font-family: segment;
    font-size: 22px;
    color: red;
    background-color: #200;
}

/* #main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mono;
} */