body {
    background: #000;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

#container {
    position: absolute;
    width: 500px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    display: flex;
    line-height: 0.2;
}

.info {
    width: 50%;
    
}

.dir {
    width: 50%;
    float: left;
}

a {
    color: #00f;
    text-decoration: underline;
}